/*
 * montserrat
================================================================================ */

@font-face {
  font-family: "montserrat-regular";
  src: url("./montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("./montserrat/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("./montserrat/montserrat-light-webfont.woff2") format("woff2"), url("./montserrat/montserrat-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("./montserrat/montserrat-extralight-webfont.woff2") format("woff2"), url("./montserrat/montserrat-extralight-webfont.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("./montserrat/montserrat-thin-webfont.woff2") format("woff2"), url("./montserrat/montserrat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* button */

.button {
    font-family: "montserrat-light", sans-serif;
    color: #fff;
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px; 
    left: 10px; 
}

.button:hover {
  color: #7084a4;
}

.arrow {
  margin-right: 10px;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay-content h1 {
  font-family: "montserrat-thin", sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.overlay-content p {
  font-family: "montserrat-extralight", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}


/* gallery */

.gallery {
  --s: 300px; /* control the size */
  --g: 10px;  /* control the gap */
  --f: 1.5;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  width: calc(3*var(--s) + 2*var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3,auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(70%);
  transition: .35s linear;
}

.gallery img:hover{
  filter: grayscale(0);
  width:  calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f));
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1000px;
  max-height: 700px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* cards */

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#item-1:checked ~ .cards #image-3,
#item-2:checked ~ .cards #image-1,
#item-3:checked ~ .cards #image-2 {
  transform: translateX(-70%) scale(0.8);
  opacity: 0.25;
  z-index: 0;
}

#item-1:checked ~ .cards #image-2,
#item-2:checked ~ .cards #image-3,
#item-3:checked ~ .cards #image-1 {
  transform: translateX(70%) scale(0.8);
  opacity: 0.25;
  z-index: 0;
}

#item-1:checked ~ .cards #image-1,
#item-2:checked ~ .cards #image-2,
#item-3:checked ~ .cards #image-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #image-1 img,
#item-2:checked ~ .cards #image-2 img,
#item-3:checked ~ .cards #image-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}


.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}



